/* line 1, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
body {
  padding: 0;
  margin: 0;
  background: #036;
  box-sizing: border-box; }

/* line 8, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
* {
  box-sizing: inherit; }

/* line 12, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
a {
  font-family: "Interstate", sans-serif;
  color: #666;
  text-decoration: none;
  text-transform: uppercase; }

/* line 19, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
.navbar {
  background: transparent;
  padding: 0;
  text-align: center;
  font-size: 14px;
  width: 100%; }
  /* line 26, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
  .navbar.slide-active {
    overflow-x: hidden; }
    /* line 29, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
    .navbar.slide-active .nav-container {
      left: 230px; }
    /* line 32, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
    .navbar.slide-active ul.slide-menu {
      left: 0; }
  /* line 37, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
  .navbar ul.slide-menu {
    width: 230px;
    left: -230px;
    top: 0;
    position: absolute;
    transition: .5s ease;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    background: white;
    border-right: 1px solid #ccc;
    height: calc(100% + 64px); }
    /* line 52, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
    .navbar ul.slide-menu > li {
      display: block;
      padding: 0;
      border-bottom: 1px solid #ccc; }
      /* line 57, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
      .navbar ul.slide-menu > li:first-of-type {
        padding: 16px 30px; }
      /* line 61, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
      .navbar ul.slide-menu > li form {
        line-height: 24px;
        position: relative; }
        /* line 65, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
        .navbar ul.slide-menu > li form input[type=text], .navbar ul.slide-menu > li form input[type=search] {
          border: none;
          border-bottom: 1px solid #333;
          padding: .5em;
          font-style: italic;
          font-size: 14px; }
        /* line 73, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
        .navbar ul.slide-menu > li form input[type=submit] {
          background: url("../img/search_img.png") top left no-repeat;
          text-indent: -9999px;
          border: 0 none;
          width: 16px;
          height: 16px;
          position: absolute;
          top: 8px;
          right: 8px; }
      /* line 85, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
      .navbar ul.slide-menu > li > a {
        display: block;
        color: #333;
        background: url("../img/accordion-arrow-down.gif") 195px center no-repeat;
        padding: 20px 30px; }
        /* line 95, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
        .navbar ul.slide-menu > li > a.open {
          background-image: url("../img/accordion-arrow-up.gif"); }
        /* line 99, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
        .navbar ul.slide-menu > li > a.no-arrow {
          background: none; }
        /* line 103, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
        .navbar ul.slide-menu > li > a span {
          vertical-align: top;
          top: 2px;
          left: 5px;
          position: relative; }
      /* line 111, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
      .navbar ul.slide-menu > li ul {
        display: none;
        list-style: none;
        padding: 0 30px; }
        /* line 116, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
        .navbar ul.slide-menu > li ul li {
          display: block;
          padding: 0;
          font-size: .8em; }
          /* line 122, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
          .navbar ul.slide-menu > li ul li:first-of-type a {
            padding-top: 0; }
          /* line 127, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
          .navbar ul.slide-menu > li ul li a {
            color: #333;
            padding: 1em 2em;
            display: block;
            line-height: 1.5em; }
  /* line 138, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
  .navbar .nav-container {
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 5px 10px;
    position: relative;
    transition: left 0.5s ease;
    left: 0; }
    /* line 151, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
    .navbar .nav-container .left-menu {
      display: none; }
    /* line 155, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
    .navbar .nav-container .search-and-country {
      order: 1;
      flex-grow: 2;
      flex-basis: 0;
      text-align: left; }
      /* line 161, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
      .navbar .nav-container .search-and-country a {
        display: inline-block;
        margin: 0 10px;
        padding: 0;
        font-size: 12px;
        color: #666;
        padding-right: 0;
        font-weight: 500; }
        /* line 173, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
        .navbar .nav-container .search-and-country a span {
          vertical-align: top;
          letter-spacing: 1px;
          position: relative;
          top: 2px;
          padding: 2px 5px; }
    /* line 183, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
    .navbar .nav-container .nav-left, .navbar .nav-container .nav-right {
      flex-grow: 3;
      flex-basis: 0;
      list-style: none;
      padding: 0;
      margin: 0; }
      /* line 190, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
      .navbar .nav-container .nav-left li, .navbar .nav-container .nav-right li {
        display: inline-block;
        margin: auto 10px; }
        /* line 194, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
        .navbar .nav-container .nav-left li a, .navbar .nav-container .nav-right li a {
          font-weight: bold;
          color: #333;
          position: relative;
          overflow: visible; }
          /* line 200, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
          .navbar .nav-container .nav-left li a img.active-triangle, .navbar .nav-container .nav-right li a img.active-triangle {
            position: absolute;
            top: 45px;
            width: 20px;
            left: calc(50% - 10px); }
        /* line 208, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
        .navbar .nav-container .nav-left li ul.drop-down, .navbar .nav-container .nav-right li ul.drop-down {
          display: none;
          padding: 0;
          position: absolute;
          left: 0;
          top: 99px;
          list-style: none;
          width: 100%;
          margin: 0;
          background: white;
          text-align: center;
          font-size: 0;
          border-top: 4px solid #ccc;
          border-radius: 0; }
          /* line 223, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
          .navbar .nav-container .nav-left li ul.drop-down li, .navbar .nav-container .nav-right li ul.drop-down li {
            margin: 0;
            display: inline-block;
            width: 25%;
            font-size: 1rem;
            padding: 0 50px 40px;
            box-sizing: border-box;
            vertical-align: top; }
            /* line 232, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
            .navbar .nav-container .nav-left li ul.drop-down li a, .navbar .nav-container .nav-right li ul.drop-down li a {
              color: #036;
              margin: 0px; }
              /* line 236, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
              .navbar .nav-container .nav-left li ul.drop-down li a img, .navbar .nav-container .nav-right li ul.drop-down li a img {
                width: 100%;
                display: block;
                margin: 40px 0; }
              /* line 242, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
              .navbar .nav-container .nav-left li ul.drop-down li a span, .navbar .nav-container .nav-right li ul.drop-down li a span {
                font-size: 14px;
                letter-spacing: 1px;
                vertical-align: top;
                display: block; }
    /* line 254, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
    .navbar .nav-container .nav-left {
      order: 2;
      text-align: right; }
    /* line 259, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
    .navbar .nav-container .nav-right {
      order: 4;
      text-align: left; }
    /* line 264, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
    .navbar .nav-container .logo {
      order: 3;
      flex-grow: 1;
      margin: 0;
      padding: 0; }
      /* line 270, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
      .navbar .nav-container .logo a.navbar-logo {
        display: inline-block; }
        /* line 274, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
        .navbar .nav-container .logo a.navbar-logo .content img {
          width: auto;
          height: 85px;
          transition: height 0.5s ease; }
    /* line 283, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
    .navbar .nav-container .account-and-cart {
      order: 5;
      flex-grow: 2;
      flex-basis: 0;
      text-align: right; }
      /* line 289, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
      .navbar .nav-container .account-and-cart a {
        display: inline-block;
        margin: 0 10px; }
        /* line 293, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
        .navbar .nav-container .account-and-cart a .item-count {
          position: relative;
          top: -10px; }

@media screen and (max-width: 991px) {
  /* line 305, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
  .navbar .nav-container .left-menu {
    display: inline-flex;
    flex-basis: 0;
    flex-grow: 2; }
  /* line 311, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
  .navbar .nav-container .search-and-country {
    display: none; }
  /* line 315, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
  .navbar .nav-container .nav-left, .navbar .nav-container .nav-right {
    display: none; }
  /* line 322, /Users/alex/Dropbox/Client Media/Zeal Optics/Nav Bar/css/style.scss */
  .navbar .nav-container .logo a.navbar-logo .content img {
    height: 50px; } }

/*# sourceMappingURL=style.css.map */