body {
  padding: 0;
  margin: 0;
  background: #036;
  box-sizing: border-box; }

* {
  box-sizing: inherit; }

a {
  font-family: "Interstate", sans-serif;
  color: #666;
  text-decoration: none;
  text-transform: uppercase; }

.navbar {
  background: transparent;
  padding: 0;
  text-align: center;
  font-size: 14px;
  width: 100%; }
  .navbar.slide-active {
    overflow-x: hidden;
    overflow-y: visible;
    height: 64px; }
    .navbar.slide-active .nav-container {
      left: 230px;
      position: fixed; }
    .navbar.slide-active ul.slide-menu {
      left: 0; }
  .navbar ul.slide-menu {
    width: 230px;
    left: -230px;
    top: 0;
    position: absolute;
    transition: .5s ease;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    background: white;
    position: fixed;
    border-right: 1px solid #ccc;
    height: 2500px; }
    .navbar ul.slide-menu > li {
      display: block;
      padding: 0;
      border-bottom: 1px solid #ccc; }
      .navbar ul.slide-menu > li:first-of-type {
        padding: 16px 30px; }
      .navbar ul.slide-menu > li form {
        line-height: 24px;
        position: relative; }
        .navbar ul.slide-menu > li form input[type=text], .navbar ul.slide-menu > li form input[type=search] {
          border: none;
          border-bottom: 1px solid #333;
          padding: .5em;
          font-style: italic;
          font-size: 14px;
          border-radius: 0; }
        .navbar ul.slide-menu > li form input[type=submit] {
          background: url("../img/search_img.png") top left no-repeat;
          text-indent: -9999px;
          border: 0 none;
          width: 16px;
          height: 16px;
          position: absolute;
          top: 8px;
          right: 8px; }
      .navbar ul.slide-menu > li > a {
        display: block;
        color: #333;
        background: url("../img/accordion-arrow-down.gif") 195px center no-repeat;
        padding: 20px 30px; }
        .navbar ul.slide-menu > li > a.open {
          background-image: url("../img/accordion-arrow-up.gif"); }
        .navbar ul.slide-menu > li > a.no-arrow {
          background: none; }
        .navbar ul.slide-menu > li > a span {
          vertical-align: top;
          top: 2px;
          left: 5px;
          position: relative; }
      .navbar ul.slide-menu > li ul {
        display: none;
        list-style: none;
        padding: 0 30px; }
        .navbar ul.slide-menu > li ul li {
          display: block;
          padding: 0;
          font-size: .8em; }
          .navbar ul.slide-menu > li ul li:first-of-type a {
            padding-top: 0; }
          .navbar ul.slide-menu > li ul li a {
            color: #333;
            padding: 1em 2em;
            display: block;
            line-height: 1.5em; }
  .navbar .nav-container {
    background: white;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 8px 10px;
    position: relative;
    width: 100%;
    transition: left .5s ease;
    left: 0; }
    .navbar .nav-container .left-menu {
      display: none; }
    .navbar .nav-container .search-and-country {
      -ms-flex-order: 1;
      order: 1;
      -ms-flex-positive: 2;
      flex-grow: 2;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      text-align: left; }
      .navbar .nav-container .search-and-country a {
        display: inline-block;
        margin: 0 10px;
        padding: 0;
        font-size: 12px;
        color: #666;
        padding-right: 0;
        font-weight: 500; }
        .navbar .nav-container .search-and-country a img.active-triangle {
          position: absolute;
          bottom: 0;
          display: none; }
        .navbar .nav-container .search-and-country a span {
          vertical-align: top;
          letter-spacing: 1px;
          position: relative;
          top: 2px;
          padding: 2px 5px; }
        .navbar .nav-container .search-and-country a.open img.active-triangle {
          display: block; }
      .navbar .nav-container .search-and-country form#input_ZOSearchBoxComponent {
        display: none;
        position: absolute;
        top: 105px;
        left: 0;
        width: 100%;
        background: white;
        border-top: 4px solid #ccc;
        padding: .5em 1em;
        font-size: 2em; }
        .navbar .nav-container .search-and-country form#input_ZOSearchBoxComponent input[type=search], .navbar .nav-container .search-and-country form#input_ZOSearchBoxComponent input[type=text] {
          text-transform: uppercase;
          width: 100%;
          float: left;
          padding: 0 0 .5em;
          border: none;
          border-bottom: 1px solid #ccc;
          color: #333;
          font-weight: bold;
          font-size: 1em; }
          .navbar .nav-container .search-and-country form#input_ZOSearchBoxComponent input[type=search]:focus, .navbar .nav-container .search-and-country form#input_ZOSearchBoxComponent input[type=text]:focus {
            outline: 0; }
        .navbar .nav-container .search-and-country form#input_ZOSearchBoxComponent input[type=submit] {
          width: 0;
          float: left;
          border: none;
          padding: 0; }
        .navbar .nav-container .search-and-country form#input_ZOSearchBoxComponent a#search-delete {
          border: none;
          background: url(../img/btn-search-close.gif);
          width: 16px;
          height: 16px;
          position: absolute;
          right: 30px;
          top: 24px;
          text-indent: -9999px; }
    .navbar .nav-container .nav-left, .navbar .nav-container .nav-right {
      -ms-flex-positive: 3;
      flex-grow: 3;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      list-style: none;
      padding: 0;
      margin: 0; }
      .navbar .nav-container .nav-left li, .navbar .nav-container .nav-right li {
        display: inline-block;
        margin: auto 10px; }
        .navbar .nav-container .nav-left li a, .navbar .nav-container .nav-right li a {
          font-weight: bold;
          color: #333;
          position: relative;
          overflow: visible; }
          .navbar .nav-container .nav-left li a img.active-triangle, .navbar .nav-container .nav-right li a img.active-triangle {
            position: absolute;
            top: 48px;
            width: 20px;
            left: calc(50% - 10px);
            display: none; }
          .navbar .nav-container .nav-left li a.open img.active-triangle, .navbar .nav-container .nav-right li a.open img.active-triangle {
            display: block; }
        .navbar .nav-container .nav-left li ul.drop-down, .navbar .nav-container .nav-right li ul.drop-down {
          display: none;
          padding: 0;
          position: absolute;
          left: 0;
          top: 105px;
          list-style: none;
          width: 100%;
          margin: 0;
          background: white;
          text-align: center;
          font-size: 0;
          border-top: 4px solid #ccc;
          border-radius: 0; }
          .navbar .nav-container .nav-left li ul.drop-down li, .navbar .nav-container .nav-right li ul.drop-down li {
            margin: 0;
            display: inline-block;
            width: 25%;
            font-size: 1rem;
            padding: 0 50px 40px;
            box-sizing: border-box;
            vertical-align: top; }
            .navbar .nav-container .nav-left li ul.drop-down li a, .navbar .nav-container .nav-right li ul.drop-down li a {
              color: #036;
              margin: 0px; }
              .navbar .nav-container .nav-left li ul.drop-down li a img, .navbar .nav-container .nav-right li ul.drop-down li a img {
                width: 100%;
                display: block;
                margin: 40px 0; }
              .navbar .nav-container .nav-left li ul.drop-down li a span, .navbar .nav-container .nav-right li ul.drop-down li a span {
                font-size: 14px;
                letter-spacing: 1px;
                vertical-align: top;
                display: block; }
    .navbar .nav-container .nav-left {
      -ms-flex-order: 2;
      order: 2;
      text-align: right; }
    .navbar .nav-container .nav-right {
      -ms-flex-order: 4;
      order: 4;
      text-align: left; }
    .navbar .nav-container .logo {
      -ms-flex-order: 3;
      order: 3;
      -ms-flex-positive: 1;
      flex-grow: 1;
      margin: 0;
      padding: 0; }
      .navbar .nav-container .logo a.navbar-logo {
        display: inline-block; }
        .navbar .nav-container .logo a.navbar-logo .content img {
          width: auto;
          height: 85px;
          transition: height .5s ease; }
    .navbar .nav-container .account-and-cart {
      -ms-flex-order: 5;
      order: 5;
      -ms-flex-positive: 2;
      flex-grow: 2;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      text-align: right; }
      .navbar .nav-container .account-and-cart a {
        display: inline-block;
        margin: 0 10px; }
        .navbar .nav-container .account-and-cart a .item-count {
          position: relative;
          top: -10px; }

@media screen and (max-width: 991px) {
  .navbar .nav-container .left-menu {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 2;
    flex-grow: 2; }
  .navbar .nav-container .search-and-country {
    display: none; }
  .navbar .nav-container .nav-left, .navbar .nav-container .nav-right {
    display: none; }
  .navbar .nav-container .logo a.navbar-logo .content img {
    height: 50px; } }
